body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: start;
}

.story {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}

li {
    padding: 10px;
}
